.elementor-kit-5 {
    --e-global-color-primary: #cde0ef;
    --e-global-color-secondary: #002642;
    --e-global-color-text: #7b7b7b;
    --e-global-color-accent: #f7fefa;
    --e-global-color-8cbe410: #86a0b6;
    --e-global-color-7e0d3af: #ffffff;
    --e-global-color-4f16ea6: #000000;
    --e-global-color-fa6c18b: #edf3f8;
    --e-global-color-9003cdf: #7391aa;
    --e-global-color-c2bcc45: #738ea5;
    --e-global-color-2af215b: #edf3f8;
    --e-global-color-f1cf8f2: #00315f;
    --e-global-color-c646fd4: #5880a2;
    --e-global-color-614ed7b: #ffffff1a;
    --e-global-color-2d924e3: #22204780;
    --e-global-color-fd3c15b: #0a439582;
    --e-global-color-6569182: #f4f8fc;
    --e-global-color-9c72796: #f5f5f5;
    --e-global-typography-primary-font-family: "PT Sans";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Mulish";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Mulish";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 28px;
    --e-global-typography-accent-font-family: "Mulish";
    --e-global-typography-accent-font-size: 18px;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-text-transform: capitalize;
    --e-global-typography-accent-line-height: 27px;
    --e-global-typography-b43a7e5-font-family: "PT Sans";
    --e-global-typography-b43a7e5-font-size: 100px;
    --e-global-typography-b43a7e5-font-weight: 600;
    --e-global-typography-b43a7e5-text-transform: uppercase;
    --e-global-typography-b43a7e5-line-height: 1.3em;
    --e-global-typography-acf397a-font-family: "PT Sans";
    --e-global-typography-acf397a-font-size: 40px;
    --e-global-typography-acf397a-font-weight: 500;
    --e-global-typography-acf397a-text-transform: uppercase;
    --e-global-typography-acf397a-line-height: 55px;
    --e-global-typography-cdd4e5c-font-family: "PT Sans";
    --e-global-typography-cdd4e5c-font-size: 30px;
    --e-global-typography-cdd4e5c-font-weight: 600;
    --e-global-typography-cdd4e5c-text-transform: capitalize;
    --e-global-typography-cdd4e5c-line-height: 36px;
    --e-global-typography-924356c-font-family: "PT Sans";
    --e-global-typography-924356c-font-size: 24px;
    --e-global-typography-924356c-font-weight: 500;
    --e-global-typography-924356c-text-transform: capitalize;
    --e-global-typography-924356c-line-height: 34px;
    --e-global-typography-d2584e0-font-family: "PT Sans";
    --e-global-typography-d2584e0-font-size: 20px;
    --e-global-typography-d2584e0-font-weight: 500;
    --e-global-typography-d2584e0-line-height: 30px;
    --e-global-typography-c723b34-font-family: "PT Sans";
    --e-global-typography-c723b34-font-size: 18px;
    --e-global-typography-c723b34-font-weight: 500;
    --e-global-typography-c723b34-text-transform: capitalize;
    --e-global-typography-c723b34-line-height: 28px;
    --e-global-typography-c3ee6c8-font-family: "PT Sans";
    --e-global-typography-c3ee6c8-font-size: 20px;
    --e-global-typography-c3ee6c8-font-weight: 600;
    --e-global-typography-c3ee6c8-text-transform: capitalize;
    --e-global-typography-c3ee6c8-line-height: 24px;
    --e-global-typography-c4dc883-font-family: "PT Sans";
    --e-global-typography-c4dc883-font-size: 70px;
    --e-global-typography-c4dc883-font-weight: 500;
    --e-global-typography-c4dc883-line-height: 77px;
    --e-global-typography-ab080a1-font-family: "Mulish";
    --e-global-typography-ab080a1-font-size: 20px;
    --e-global-typography-ab080a1-font-weight: 600;
    --e-global-typography-ab080a1-line-height: 34px;
    --e-global-typography-871831d-font-family: "Mulish";
    --e-global-typography-871831d-font-size: 20px;
    --e-global-typography-871831d-font-weight: 400;
    --e-global-typography-871831d-text-transform: capitalize;
    --e-global-typography-871831d-line-height: 30px;
    --e-global-typography-ee8fbd0-font-family: "PT Sans";
    --e-global-typography-ee8fbd0-font-size: 25px;
    --e-global-typography-ee8fbd0-font-weight: 500;
    --e-global-typography-ee8fbd0-text-transform: uppercase;
    --e-global-typography-ee8fbd0-line-height: 30px;
    --e-global-typography-97dd857-font-family: "PT Sans";
    --e-global-typography-97dd857-font-size: 75px;
    --e-global-typography-97dd857-font-weight: 600;
    --e-global-typography-97dd857-text-transform: capitalize;
    --e-global-typography-97dd857-line-height: 90px;
    --e-global-typography-328173d-font-family: "Mulish";
    --e-global-typography-328173d-font-size: 16px;
    --e-global-typography-328173d-font-weight: 600;
    --e-global-typography-328173d-line-height: 25px;
    --e-global-typography-3707dff-font-family: "PT Sans";
    --e-global-typography-3707dff-font-size: 20px;
    --e-global-typography-3707dff-font-weight: 600;
    --e-global-typography-3707dff-text-transform: uppercase;
    --e-global-typography-3707dff-line-height: 24px;
    --e-global-typography-e2252c2-font-family: "Mulish";
    --e-global-typography-e2252c2-font-size: 17px;
    --e-global-typography-e2252c2-font-weight: 600;
    --e-global-typography-e2252c2-text-transform: capitalize;
    --e-global-typography-e2252c2-line-height: 27px;
    --e-global-typography-a84bd76-font-family: "Mulish";
    --e-global-typography-a84bd76-font-size: 28px;
    --e-global-typography-a84bd76-font-weight: 400;
    --e-global-typography-a84bd76-line-height: 45px;
    --e-global-typography-eba7dda-font-family: "Mulish";
    --e-global-typography-eba7dda-font-size: 20px;
    --e-global-typography-eba7dda-font-weight: 500;
    --e-global-typography-eba7dda-line-height: 34px;
    --e-global-typography-16dec96-font-family: "PT Sans";
    --e-global-typography-16dec96-font-size: 17px;
    --e-global-typography-16dec96-font-weight: 500;
    --e-global-typography-16dec96-text-transform: uppercase;
    --e-global-typography-16dec96-line-height: 22px;
    --e-global-typography-a15c8a3-font-family: "PT Sans";
    --e-global-typography-a15c8a3-font-size: 40px;
    --e-global-typography-a15c8a3-font-weight: 600;
    --e-global-typography-a15c8a3-line-height: 48px;
    --e-global-typography-78edc4a-font-family: "PT Sans";
    --e-global-typography-78edc4a-font-size: 16px;
    --e-global-typography-78edc4a-font-weight: 600;
    --e-global-typography-78edc4a-text-transform: capitalize;
    --e-global-typography-78edc4a-line-height: 19px;
    --e-global-typography-19cc052-font-family: "Mulish";
    --e-global-typography-19cc052-font-size: 15px;
    --e-global-typography-19cc052-font-weight: 600;
    --e-global-typography-19cc052-line-height: 27px;
    --e-global-typography-e102645-font-family: "Mulish";
    --e-global-typography-e102645-font-size: 16px;
    --e-global-typography-e102645-font-weight: 700;
    --e-global-typography-e102645-text-transform: capitalize;
    --e-global-typography-e102645-line-height: 27px;
    --e-global-typography-9c7821a-font-family: "PT Sans";
    --e-global-typography-9c7821a-font-size: 40px;
    --e-global-typography-9c7821a-font-weight: 600;
    --e-global-typography-9c7821a-text-transform: uppercase;
    --e-global-typography-9c7821a-line-height: 50px;
    --e-global-typography-5cf2453-font-family: "PT Sans";
    --e-global-typography-5cf2453-font-size: 25px;
    --e-global-typography-5cf2453-font-weight: 600;
    --e-global-typography-5cf2453-text-transform: capitalize;
    --e-global-typography-5cf2453-line-height: 36px;
    --e-global-typography-ad1a504-font-family: "PT Sans";
    --e-global-typography-ad1a504-font-size: 35px;
    --e-global-typography-ad1a504-font-weight: 600;
    --e-global-typography-ad1a504-text-transform: uppercase;
    --e-global-typography-ad1a504-line-height: 50px;
    --e-global-typography-9c00b3a-font-family: "PT Sans";
    --e-global-typography-9c00b3a-font-size: 60px;
    --e-global-typography-9c00b3a-font-weight: 600;
    --e-global-typography-9c00b3a-line-height: 50px;
    --e-global-typography-4e49a59-font-family: "PT Sans";
    --e-global-typography-4e49a59-font-size: 23px;
    --e-global-typography-4e49a59-font-weight: 600;
    --e-global-typography-4e49a59-text-transform: capitalize;
    --e-global-typography-4e49a59-line-height: 24px;
    --e-global-typography-6fa450b-font-family: "Mulish";
    --e-global-typography-6fa450b-font-size: 16px;
    --e-global-typography-6fa450b-font-weight: 400;
    --e-global-typography-6fa450b-text-decoration: underline;
    --e-global-typography-6fa450b-line-height: 28px;
    --e-global-typography-92509fd-font-family: "PT Sans";
    --e-global-typography-92509fd-font-size: 16px;
    --e-global-typography-92509fd-font-weight: 600;
    --e-global-typography-92509fd-text-transform: capitalize;
    --e-global-typography-92509fd-line-height: 26px;
    --e-global-typography-3ec99f7-font-family: "PT Sans";
    --e-global-typography-3ec99f7-font-size: 18px;
    --e-global-typography-3ec99f7-font-weight: 600;
    --e-global-typography-3ec99f7-text-transform: capitalize;
    --e-global-typography-3ec99f7-line-height: 24px;
    --e-global-typography-2a461e6-font-family: "PT Sans";
    --e-global-typography-2a461e6-font-size: 22px;
    --e-global-typography-2a461e6-font-weight: 600;
    --e-global-typography-2a461e6-text-transform: uppercase;
    --e-global-typography-2a461e6-line-height: 24px;
    --e-global-typography-bc7bf8e-font-family: "PT Sans";
    --e-global-typography-bc7bf8e-font-size: 35px;
    --e-global-typography-bc7bf8e-font-weight: 600;
    --e-global-typography-bc7bf8e-text-transform: capitalize;
    --e-global-typography-bc7bf8e-line-height: 36px;
    --e-global-typography-e41d0a8-font-family: "PT Sans";
    --e-global-typography-e41d0a8-font-size: 16px;
    --e-global-typography-e41d0a8-font-weight: 600;
    --e-global-typography-e41d0a8-text-transform: uppercase;
    --e-global-typography-e41d0a8-line-height: 27px;
    --e-global-typography-4a0b884-font-family: "PT Sans";
    --e-global-typography-4a0b884-font-size: 16px;
    --e-global-typography-4a0b884-font-weight: 500;
    --e-global-typography-4a0b884-line-height: 20px;
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-5 a {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-kit-5 h1 {
    color: var(--e-global-color-7e0d3af);
    font-family: var(--e-global-typography-b43a7e5-font-family), Sans-serif;
    font-size: var(--e-global-typography-b43a7e5-font-size);
    font-weight: var(--e-global-typography-b43a7e5-font-weight);
    text-transform: var(--e-global-typography-b43a7e5-text-transform);
    line-height: var(--e-global-typography-b43a7e5-line-height);
    letter-spacing: var(--e-global-typography-b43a7e5-letter-spacing);
    word-spacing: var(--e-global-typography-b43a7e5-word-spacing);
  }
  .elementor-kit-5 h2 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-acf397a-font-family), Sans-serif;
    font-size: var(--e-global-typography-acf397a-font-size);
    font-weight: var(--e-global-typography-acf397a-font-weight);
    text-transform: var(--e-global-typography-acf397a-text-transform);
    line-height: var(--e-global-typography-acf397a-line-height);
    letter-spacing: var(--e-global-typography-acf397a-letter-spacing);
    word-spacing: var(--e-global-typography-acf397a-word-spacing);
  }
  .elementor-kit-5 h3 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-cdd4e5c-font-family), Sans-serif;
    font-size: var(--e-global-typography-cdd4e5c-font-size);
    font-weight: var(--e-global-typography-cdd4e5c-font-weight);
    text-transform: var(--e-global-typography-cdd4e5c-text-transform);
    line-height: var(--e-global-typography-cdd4e5c-line-height);
    letter-spacing: var(--e-global-typography-cdd4e5c-letter-spacing);
    word-spacing: var(--e-global-typography-cdd4e5c-word-spacing);
  }
  .elementor-kit-5 h4 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-924356c-font-family), Sans-serif;
    font-size: var(--e-global-typography-924356c-font-size);
    font-weight: var(--e-global-typography-924356c-font-weight);
    text-transform: var(--e-global-typography-924356c-text-transform);
    line-height: var(--e-global-typography-924356c-line-height);
    letter-spacing: var(--e-global-typography-924356c-letter-spacing);
    word-spacing: var(--e-global-typography-924356c-word-spacing);
  }
  .elementor-kit-5 h5 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-d2584e0-font-family), Sans-serif;
    font-size: var(--e-global-typography-d2584e0-font-size);
    font-weight: var(--e-global-typography-d2584e0-font-weight);
    line-height: var(--e-global-typography-d2584e0-line-height);
    letter-spacing: var(--e-global-typography-d2584e0-letter-spacing);
    word-spacing: var(--e-global-typography-d2584e0-word-spacing);
  }
  .elementor-kit-5 h6 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-c723b34-font-family), Sans-serif;
    font-size: var(--e-global-typography-c723b34-font-size);
    font-weight: var(--e-global-typography-c723b34-font-weight);
    text-transform: var(--e-global-typography-c723b34-text-transform);
    line-height: var(--e-global-typography-c723b34-line-height);
    letter-spacing: var(--e-global-typography-c723b34-letter-spacing);
    word-spacing: var(--e-global-typography-c723b34-word-spacing);
  }
  .elementor-kit-5 button,
  .elementor-kit-5 input[type="button"],
  .elementor-kit-5 input[type="submit"],
  .elementor-kit-5 .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-transform: var(--e-global-typography-accent-text-transform);
    line-height: var(--e-global-typography-accent-line-height);
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-accent);
    border-radius: 0px 0px 0px 0px;
    padding: 15px 45px 15px 45px;
  }
  .elementor-kit-5 button:hover,
  .elementor-kit-5 button:focus,
  .elementor-kit-5 input[type="button"]:hover,
  .elementor-kit-5 input[type="button"]:focus,
  .elementor-kit-5 input[type="submit"]:hover,
  .elementor-kit-5 input[type="submit"]:focus,
  .elementor-kit-5 .elementor-button:hover,
  .elementor-kit-5 .elementor-button:focus {
    color: var(--e-global-color-7e0d3af);
    background-color: var(--e-global-color-8cbe410);
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
  }
  .e-con {
    --container-max-width: 1140px;
    --container-default-padding-block-start: 0px;
    --container-default-padding-inline-end: 0px;
    --container-default-padding-block-end: 0px;
    --container-default-padding-inline-start: 0px;
  }
  .elementor-widget:not(:last-child) {
    margin-block-end: 0px;
  }
  .elementor-element {
    --widgets-spacing: 0px 0px;
  }

  h1.entry-title {
    display: var(--page-title-display);
  }
  .site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
  }
  @media (max-width: 1024px) {
    .elementor-kit-5 {
      --e-global-typography-b43a7e5-font-size: 46px;
      --e-global-typography-c4dc883-font-size: 40px;
      --e-global-typography-c4dc883-line-height: 1em;
      --e-global-typography-ab080a1-font-size: 15px;
      --e-global-typography-a84bd76-font-size: 16px;
      --e-global-typography-a84bd76-line-height: 1.3em;
      --e-global-typography-9c00b3a-font-size: 55px;
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-kit-5 h1 {
      font-size: var(--e-global-typography-b43a7e5-font-size);
      line-height: var(--e-global-typography-b43a7e5-line-height);
      letter-spacing: var(--e-global-typography-b43a7e5-letter-spacing);
      word-spacing: var(--e-global-typography-b43a7e5-word-spacing);
    }
    .elementor-kit-5 h2 {
      font-size: var(--e-global-typography-acf397a-font-size);
      line-height: var(--e-global-typography-acf397a-line-height);
      letter-spacing: var(--e-global-typography-acf397a-letter-spacing);
      word-spacing: var(--e-global-typography-acf397a-word-spacing);
    }
    .elementor-kit-5 h3 {
      font-size: var(--e-global-typography-cdd4e5c-font-size);
      line-height: var(--e-global-typography-cdd4e5c-line-height);
      letter-spacing: var(--e-global-typography-cdd4e5c-letter-spacing);
      word-spacing: var(--e-global-typography-cdd4e5c-word-spacing);
    }
    .elementor-kit-5 h4 {
      font-size: var(--e-global-typography-924356c-font-size);
      line-height: var(--e-global-typography-924356c-line-height);
      letter-spacing: var(--e-global-typography-924356c-letter-spacing);
      word-spacing: var(--e-global-typography-924356c-word-spacing);
    }
    .elementor-kit-5 h5 {
      font-size: var(--e-global-typography-d2584e0-font-size);
      line-height: var(--e-global-typography-d2584e0-line-height);
      letter-spacing: var(--e-global-typography-d2584e0-letter-spacing);
      word-spacing: var(--e-global-typography-d2584e0-word-spacing);
    }
    .elementor-kit-5 h6 {
      font-size: var(--e-global-typography-c723b34-font-size);
      line-height: var(--e-global-typography-c723b34-line-height);
      letter-spacing: var(--e-global-typography-c723b34-letter-spacing);
      word-spacing: var(--e-global-typography-c723b34-word-spacing);
    }
    .elementor-kit-5 button,
    .elementor-kit-5 input[type="button"],
    .elementor-kit-5 input[type="submit"],
    .elementor-kit-5 .elementor-button {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-section.elementor-section-boxed > .elementor-container {
      max-width: 1024px;
    }
    .e-con {
      --container-max-width: 1024px;
    }
  }
  @media (max-width: 767px) {
    #profile-vu {
        margin-top: 20px;
    }
    .elementor-kit-5 {
      --e-global-typography-9c00b3a-font-size: 45px;
      --e-global-typography-9c00b3a-line-height: 55px;
      font-size: var(--e-global-typography-text-font-size);
      line-height: var(--e-global-typography-text-line-height);
    }
    .elementor-kit-5 h1 {
      font-size: var(--e-global-typography-b43a7e5-font-size);
      line-height: var(--e-global-typography-b43a7e5-line-height);
      letter-spacing: var(--e-global-typography-b43a7e5-letter-spacing);
      word-spacing: var(--e-global-typography-b43a7e5-word-spacing);
    }
    .elementor-kit-5 h2 {
      font-size: var(--e-global-typography-acf397a-font-size);
      line-height: var(--e-global-typography-acf397a-line-height);
      letter-spacing: var(--e-global-typography-acf397a-letter-spacing);
      word-spacing: var(--e-global-typography-acf397a-word-spacing);
    }
    .elementor-kit-5 h3 {
      font-size: var(--e-global-typography-cdd4e5c-font-size);
      line-height: var(--e-global-typography-cdd4e5c-line-height);
      letter-spacing: var(--e-global-typography-cdd4e5c-letter-spacing);
      word-spacing: var(--e-global-typography-cdd4e5c-word-spacing);
    }
    .elementor-kit-5 h4 {
      font-size: var(--e-global-typography-924356c-font-size);
      line-height: var(--e-global-typography-924356c-line-height);
      letter-spacing: var(--e-global-typography-924356c-letter-spacing);
      word-spacing: var(--e-global-typography-924356c-word-spacing);
    }
    .elementor-kit-5 h5 {
      font-size: var(--e-global-typography-d2584e0-font-size);
      line-height: var(--e-global-typography-d2584e0-line-height);
      letter-spacing: var(--e-global-typography-d2584e0-letter-spacing);
      word-spacing: var(--e-global-typography-d2584e0-word-spacing);
    }
    .elementor-kit-5 h6 {
      font-size: var(--e-global-typography-c723b34-font-size);
      line-height: var(--e-global-typography-c723b34-line-height);
      letter-spacing: var(--e-global-typography-c723b34-letter-spacing);
      word-spacing: var(--e-global-typography-c723b34-word-spacing);
    }
    .elementor-kit-5 button,
    .elementor-kit-5 input[type="button"],
    .elementor-kit-5 input[type="submit"],
    .elementor-kit-5 .elementor-button {
      font-size: var(--e-global-typography-accent-font-size);
      line-height: var(--e-global-typography-accent-line-height);
    }
    .elementor-section.elementor-section-boxed > .elementor-container {
      max-width: 767px;
    }
    .e-con {
      --container-max-width: 767px;
    }
  }
  